[submodule "inst/reveal.js-4.1.x"]
	path = inst/reveal.js-4.1.x
	url = https://github.com/hakimel/reveal.js.git
[submodule "plugins/menu"]
	path = plugins/menu
	url = https://github.com/denehyg/reveal.js-menu.git
[submodule "plugins/thirdparties"]
	path = plugins/thirdparties
	url = https://github.com/rajgoel/reveal.js-plugins.git
